@import url('https://fonts.google.com/specimen/Atomic+Age?preview.text=Recipe%20Search&preview.text_type=custom');
@import url('https://fonts.google.com/specimen/Atomic+Age?preview.text=Recipe%20Search&preview.text_type=custom');

body {
    background-color: #323232;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: radial-gradient(rgba(#bf0000, 0.5) 0%, transparent 70%), 
    linear-gradient(#0b161e 40%, #000003 70%);
    perspective: 700px;
    font-size: clamp(10px, 2vw, 20px);
}

div.section {
    width: 60%;
    left: 20%;
    right: 20%;
    background-color: rgb(0, 8, 6);
    text-align: center;
    margin: 0 auto;
}

#title-section {
    height: 5em;
}

#background, 
#recipes {
    margin-top: .5em;
    margin-bottom: .5em;
}

#header-img {
    background-image: url("https://fs02.vseosvita.ua/020125a6-97c9-378x191.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    left: 30%;
    right: 30%;
    height: 25em;
}